<a href="/"><h1 id="title">Journal de Maskelyne</h1></a>

<ul id="nav">
    <li><a href="/"><b>Journal de Maskelyne</b></a></li>
    <li><a href="/posts/search">Search</a></li>
    <li><a href="/">About</a></li>
    <li><a href="/">Contact</a></li>
</ul>
